.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.pic {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 40px;
}

.pic img {
    width: auto;
    height: auto;
    margin-left: -50px;
}


.text {
    width: 78%;
}

.text h5 {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

span {
    color: #4070f4;
}

.text p {
    color: black;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
}


ul {
    display: flex;
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
}

ul li {
    list-style: none;
}

ul li a {
    width: 40px;
    height: 40px;
    background-color: rgba(252, 253, 255, 0.7);
    color: rgb(80, 91, 100);
    text-align: center;
    line-height: 40px;
    /* change fontsize */
    font-size: 15px;
    margin: 0 10px;
    display: block;
    border-radius: 20%;
    position: relative;
    overflow: hidden;
    border: 1px;
    z-index: 1;
}

ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

ul li a:hover:before {
    top: 0;
}

ul li:nth-child(1) a:before {
    background: #3b5999;
}

ul li:nth-child(2) a:before {
    background: #55acee;
}

ul li:nth-child(3) a:before {
    background: #0077b5;
}

ul li:nth-child(4) a:before {
    background: #262626;
}

.ul {
    display: flex;
    position: absolute;
    top: 90%;
    left: 82%;
    transform: translate(-50%, -50%);
}

.ul li {
    list-style: none;
}

.ul li a {
    width: 40px;
    height: 40px;
    background-color: rgba(252, 253, 255, 0.7);
    color: rgb(80, 91, 100);
    text-align: center;
    line-height: 40px;
    /* change fontsize */
    font-size: 15px;
    margin: 0 10px;
    display: block;
    border-radius: 20%;
    position: relative;
    overflow: hidden;
    border: 1px;
    z-index: 1;
}

.ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

.ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

.ul li a:hover:before {
    top: 0;
}

.ul li:nth-child(1) a:before {
    background: #3b5999;
}

.ul li:nth-child(2) a:before {
    background: #55acee;
}

.ul li:nth-child(3) a:before {
    background: #0077b5;
}

.ul li:nth-child(4) a:before {
    background: #262626;
}